<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm", style="background-color: #F4F4F4;">
      <%= link_to "", root_path, class: "fas fa-home logo nav-link" %>
      <%= link_to "", movies_path, class: "fas fa-film logo nav-link" %>
    </div>
    <%= yield %>
  </body>
</html>
